// Variables
@import "variables";

 /* TEMPLATE STYLES */


footer.page-footer {
 background-color: #555658;
 margin-top: 2rem;
}

.top-nav-collapse {
  background-color: #7283A7 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.default-page .navbar:not(.top-nav-collapse) {
  background: #7283A7 !important;
}

.default-page main {
  margin-top: 64px;
  padding-top: 40px;
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

.full-height,
.full-height body,
.full-height header,
.full-height header .view {
  height: 99%;
}

p {
  line-height: 1.6rem;
}

.font-small {
  font-size: 0.9rem;
}

.form-header {
  color: #fff;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 2px;
}

.has-error .help-block {
  color: #dc3545;
  //margin-left: 3rem;
}

.card.card-outline-none {
  box-shadow: none;
  border: none;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #7283A7 !important;
  }
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}